<div class="container">
<h1>History</h1>

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Holder</th>
      <th>Time out</th>
      <th>Time in</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.code %></td>
        <td><%= record.holder %></td>
        <td><%= record.timeout %></td>
        <td><%= record.timein %></td>


      </tr>
    <% end %>
  </tbody>
</table>
</div>
